@import 'scss/style';
@import 'scss/colors';
@import 'scss/mixins';

html {
	font-family: 'Marck Script', cursive;
}

.wrapper {
	background-color: #FA715E;
	margin: auto 0px;
	width: auto;
	height: 75%;
	text-align: center;
}

.headshot {
	width: 20%;
	height: auto;
}

